<ion-view view-title="Tasks">

    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content">

            <ul class="list animate-fade-slide-in-right">
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
                </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
                </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li><li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li><li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li><li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li><li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li><li class="item">
                <ion-checkbox class="item ">Lorem ipsum dolor sit amet.</ion-checkbox>
            </li>
                <li class="item">
                    <ion-checkbox class="item ">Lorem ipsum dolor sit amet, consectetur adipisicing.</ion-checkbox>
                </li>
            </ul>


        </div>
    </ion-content>

</ion-view>